@page
@model Website.Pages.AboutModel
@{
    ViewData["About"] = "About Flying Saucer";
}
    <h1>@ViewData["About"]</h1>
    <body1>
        <p class="statements">
            Founded in 2023 by definitely human Earth students of the CIS 400 course, the Flying Saucer offers breakfast repasts at any hour of the day for your avid consuming. 
            Beam down to any of our many Earth-based locations for a taste.
        </p>
    </body1>
