@page
@model PrivacyModel
@{
    ViewData["Privacy Policy"] = "Flying Saucer Website Privacy Policy";
}
<h1>@ViewData["Privacy Policy"]</h1>
<body1>
    <p class="statements">
        The Flying Saucer values and respects the privacy and autonomy of all sentient beings, regardless of their planet of origin. This site does not collect your data.
        This site does not use cookies. This site
        only offers information about the Flying Saucer restaurant and
        its menu selection.
    </p>
</body1>

